.DS_STORE
.vagrant
.idea
.htaccess
readme.html
license.txt
wp-config.php
/deploy
/wp-content/wflogs
/db/.data
/provision/docker/docker-compose.*
!/provision/docker/docker-compose.yml
wp-content/plugins/post-meta-inspector
wp-content/plugins/query-monitor
wp-content/plugins/debug-bar-elasticpress
wp-content/debug.log
wp-content/plugins/hoag-physicians/node_modules/
wp-content/plugins/hoag-physicians/vendor/
wp-content/uploads/